name: Automatisation des tests DevSecOps
on: push
jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Scan Trivy du fichier requirements.txt (HIGH + CRITICAL)
        run: |
          docker run --rm \
          -v "$PWD":/src \
          -v "$HOME/.cache/trivy":/root/.cache/ \
          aquasec/trivy:latest fs /src/requirements.txt \
            --format json \
            --severity HIGH,CRITICAL \
          | jq -r '
            ["TARGET","PACKAGE","INSTALLED","VULN","SEVERITY"],
            (.Results[]? as $r 
              | $r.Vulnerabilities[]? 
              | [$r.Target, .PkgName, .InstalledVersion, .VulnerabilityID, .Severity]
            )
            | @tsv' \
          | column -t -s $'\t'
  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Test Dockerfile
        run: |
          echo "ecrire ici le scrypt de contrôle du Dockerfile"
  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"


